<%- include('head.ejs') %>
<title>Inloggen</title>

<img id='logoZwart' src="images/logoZwart.jpg" alt="logo">

<div class="vlak" >


<header>

  <nav>
      <ul>

          <li><a href="registreren">Registreren</a></li>
      </ul>
  </nav>

</header>

<h1>Inloggen</h1>
<<<<<<< HEAD
<form id="formtess" action=/login method=post>
  <label>Naam <input name=naam></label>
  <label>Wachtwoord <input name=wachtwoord type=password></label>
  <button>Inloggen</button>
</form>


</div>
<% include tail.ejs %>
=======
<form action=/login method='post'>
  <label>Naam <input name='naam'></label>
  <label>Wachtwoord <input name='wachtwoord' type='password'></label>
  <button>Inloggen</button>
</form>

<a href='registreren'>Nog geen account?</a>
<%- include('tail.ejs') %>
>>>>>>> 154d48f6950cf367283ebcb215e1ca097412bf88
