<% include head.ejs %>
<title>Registreren</title>

<img id='logoZwart' src="images/logoZwart.jpg" alt="logo">
<div class="vlak" >

<header>

  <nav>
      <ul>

          <li><a href="login">Inloggen</a></li>
      </ul>
  </nav>

</header>

<h1>Registreren</h1>
<form action=/ method=post>


  <label>Gebruikersnaam <input name=naam ></label>
  <label>Email <input name=email></label>
  <label>Wachtwoord <input name=wachtwoord type=password></label>
  <button>Toevoegen</button>
</form>

</div>
<% include tail.ejs %>
